.offer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px; 
}

.offer-items {
  background-color: #f9f9f9;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex: wrap; 
  width: 14vw;
}

.offer-details ul {
  list-style-type: none;
  padding: 0;
  width: 14vw;
      box-shadow: var(--shadow-4);

}

.offer-details ul:hover {
    box-shadow: var(--shadow-1);

}

.offer-info {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.offer-label {
  font-weight: bold;
  font-size: 0.75rem;
  color: #333;
}

.offer-value {
  font-size: 0.75rem;
  color: #555;
}

.offer-info span {
  display: inline-block;
  margin-right: 5px;
}

.text-center-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
        box-shadow: var(--shadow-2);
        height: 2.5rem;
}

 .offer-label {
  width: 5vw;
}

