.reserved-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .reserved-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #9fbac2;
  }
  
  .reserved-item:hover {
    background-color: #f0f0f0;
  }
  
  .reserved-item-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
  }
  
  p {
    margin: 0;
    padding: 5px;
  }
  