.nav-buttons {
  position: fixed;
  right: 3.75rem;
}

.title {
    position: relative;
}

.sub-title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: var( --grey-900);
}

.queries-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}