.nav-buttons {
  position: absolute;
  right: 3.75rem;
}

.queries-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-center {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.title-image {
  width: 20vw;
}