.content {
    margin-inline: 2.1rem;
}

.heading {
    text-align: center;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1.6rem;
}

/* Reservations & Reservation Details */

.count-container {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

.count {
    font-size: large;
    margin-bottom: .4rem;
    text-align: center;
}

h3 {
    font-size: small;
}

.list {
    margin-top: 2rem;
    width: 100%;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: large;
    font-weight: 500;
    background-color: #f59e0b;
    padding: 0.5rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.icon {
    width: 10px;
    height: auto;
}

.back-icon {
    width: 16px;
    margin-inline-start: 1rem;
    cursor: pointer;
}

.date {
    margin-bottom: 1.5rem;
}

.date,
.description,
.food-lover {
    margin-inline-start: 2.1rem;
}

.food-lover {
    margin-top: 1rem;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 2.1rem;
    margin-inline-end: 2.1rem;
    margin-top: 1.5rem;
    text-align: center;
}

.status {
    padding: 1rem 3rem;
    margin-top: 2.5rem;
    border-radius: 8px;
    border: none;
    background-color: #f59e0b;
    color: #fff;
    font-weight: 500;
    transform: translateX(40%);
    cursor: pointer;
}

/* Offers */

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.title-wrapper .heading {
    margin-inline-start: 2.1rem;
}

.title-wrapper p {
    margin-inline-end: 2.1rem;
    margin-top: 1.6rem;
    color: dodgerblue;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    padding: .5rem;
}

.footer div {
    flex: 1;
    text-align: center;
}

.footer p {
    font-size: small;
    margin-top: .2rem;
}